{% extends 'base.html' %}
{% block title %}विभाग{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <strong><li class="breadcrumb-item active" aria-current="page">विभाग : {{categoryaccessed.category}}</li></strong>
  </ol>
</nav>

{% for question in questions %}
    <div class="alert alert-info" role="alert">
        <strong>{{forloop.counter}}. {{question}}</strong><br>
        <div class="row">
            <div class="col-md-6">
                a. {{question.answer.answer1}}<br>
                c. {{question.answer.answer3}}
            </div>
            <div class="col-md-6">
                b. {{question.answer.answer2}}<br>
                c. {{question.answer.answer4}}
            </div>
        </div>
        <p>
          <a class="btn btn-outline-success btn-sm my-3" data-toggle="collapse" href="#collapse{{question.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
            View Answer
          </a>
        </p>
        <div class="collapse" id="collapse{{question.id}}">
          <div class="card card-body">
            Ans : {{question.answer.correctAnswer}}
          </div>
        </div>
    </div>
{% endfor %}

{% endblock %}