{% extends 'base.html' %}
{% block content %}
<h1>This is home</h1>
{% for question in questions %}
    <div class="alert alert-success" role="alert">
        <strong>{{forloop.counter}}. {{question}}</strong>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{question.answer.answer1}}" id="answer1">
          <label class="form-check-label" for="answer1">
            {{question.answer.answer1}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{question.answer.answer2}}" id="answer2">
          <label class="form-check-label" for="answer2">
            {{question.answer.answer2}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{question.answer.answer3}}" id="answer3">
          <label class="form-check-label" for="answer3">
            {{question.answer.answer3}}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="{{question.answer.answer4}}" id="answer4">
          <label class="form-check-label" for="answer4">
            {{question.answer.answer4}}
          </label>
        </div>
    </div>
{% endfor %}

{% endblock %}